<div class="ui centered grid">
  <h2 class="computer only row">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3>メールアドレス</h3>
    <div class="ui form computer only row">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <h3>パスワード</h3>
    <div class="ui form computer only row">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <%= f.submit "ログイン", class: "ui primary button", style: "margin-top:30px; width: 98px" %>
  <div class="computer only row">
  <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>