<%= javascript_pack_tag 'dailies/show', defer: true %>

<div class="ui grid">



<div class="four column row" style="width:100%">
  <div class="left floated column">
    <%= link_to dailies_index_path(@daily.student.id), data: {"turbolinks" => false}  do %>
      <button class="ui labeled icon button" style="margin: 5px" >
        <i class="left chevron icon"></i>
        戻る
      </button>
    <% end %>
  </div>
  <div class="right floated column">
    <% if !(current_user.nil?) %>
      <%= link_to "/dailies/#{params[:id]}/stamp", data: {"turbolinks" => false} do %>
        <button class="ui right labeled icon button" style="margin: 5px; width: 100%;" >
          <i class="right chevron icon"></i>
          スタンプ
        </button>
      <% end %>
    <% end %>
  </div>
</div>





  <%= image_tag @daily.image, id: "show_img" %>
  <%# 画像へスタンプをつける %>
  <% if current_user.nil? %>
  <%= link_to "投稿を削除する", daily_path(params[:id]), class:"ui negative basic button", method: "DELETE"%>
  <% end %>



    <div class="ui only row" id="body-main">
      <div class="ui comments" style="margin: 0 auto; width: 500px;">
        <h3 class="ui dividing header">コメント</h3>
        <% if @comments.empty? %>
          <p>コメントはまだありません</p>
        <% end %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <% if comment.position == 'false' %>
              <a class="avatar">
                <i class="meh user icon" style="font-size:2.5em;" ></i>
              </a>
            <% else %>
              <a class="avatar">
                <i class="user icon" style="font-size:2.5em; color: red;" ></i>

              </a>
            <% end %>
            <div class="content">
              <% if comment.position == 'false' %>
                <a class="author">トレーナー<%= @comment %></a>
              <% else %>
                <a class="author">生徒<%= @comment %></a>
              <% end %>
              <div class="metadata">
                <span class="date"><%= comment.created_at %></span>
              </div>
              <div class="text">
                <%= comment.content %>
              </div>
            </div>
          </div>
        <% end %>
          <%= render 'comment_form' %>
      </div>
    </div>
</div>