<%= javascript_pack_tag 'dailies/show', defer: true %>

<div class="ui grid">
  <div class="ui only row">
    <%= link_to "一覧ページへ戻る", dailies_index_path(@daily.student.id) %>
  </div>
  <%= image_tag @daily.image, id: "show_img" %>
  <%# 画像へスタンプをつける %>
  <% if !(current_user.nil?) %>
  <%= link_to "スタンプをつける", "/dailies/#{params[:id]}/stamp", data: {"turbolinks" => false} %>
  <% end %>
  <div class="ui only row">
  <%= @daily.day %>
  </div>
  <div class="ui center only row">
  <h4>言い訳:</h4>
  <%= @daily.context %>
  </div>
    <div class="ui only row" id="body-main">
      <div class="ui comments" style="margin: 0 auto; width: 500px;">
        <h3 class="ui dividing header">コメント</h3>
        <% if @comments.empty? %>
          <p>コメントはまだありません</p>
        <% end %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <a class="avatar">
              <i class="meh user icon" style="font-size:2.5em;" ></i>
            </a>
            <div class="content">
              <a class="author">トレーナー<%= @comment %></a>
              <div class="metadata">
                <span class="date"><%= comment.created_at %></span>
              </div>
              <div class="text">
                <%= comment.content %>
              </div>
            </div>
          </div>
        <% end %>
        <% if !current_user.nil? %>
          <%= render 'comment_form' %>
        <% end %>
      </div>
    </div>
</div>