<meta name="turbolinks-cache-control" content="no-preview">
<%= stylesheet_link_tag "dailies"%>
<%= javascript_pack_tag 'dailies/stamp', defer: true %>

<div id="main-body">
<div id="load_id">
loading...(ロードが長い場合は、このページを再読み込みしてください)
</div>
<canvas id="canvas"></canvas>
<%# 保存する %>
<div class="ui grid">
  <div class="eight wide column">
    <div class="tool_name">
      <p>スタンプのプレビュー</p>
    </div>
    <canvas id="stamp_viewr" width="500px" height="500px"></canvas>
  </div>
  <div class="eight wide column">
    <%# ラジオボタンを追加する %>
    <div class="ui form">
      <div class="grouped fields">
        <div class="tool_name">
          <p>スタンプの形</p>
        </div>

        <select name="stamp" id="stamp-select">
            <option value="">-- 選択してください --</option>
            <option value="stamp_0004_kinshi.png">禁止マーク</option>
            <option value="stamp_0005_kinshi_junkfood.png">ジャンク禁止マーク</option>
            <option value="stamp_0006_kinshi_sweets.png">甘いもの禁止マーク</option>
            <option value="stamp_0007_mark_alcohol_ng.png">アルコール禁止マーク</option>
            <option value="stamp_0008_stamp1.png">まる</option>
            <option value="stamp_0009_stamp2.png">三角</option>
            <option value="stamp_0010_stamp3.png">ばつ</option>
            <option value="stamp_0011_stamp4.png">グッドマーク</option>
            <option value="stamp_0012_video_cooking_man.png">料理系ユーチューバー</option>
        </select>

      </div>
    </div>
    <%# サイズ変更 %>
    <div class="ui form">
      <div class="field">
        <div class="tool_name">
          <p>スタンプのサイズ</p>
        </div>
        <input type="range" name="size" id="stamp_size" min="1" max="100" value="100">
      </div>
    </div>
    <%# カラーピッカー %>
    <div class="ui form">
      <div class="field">
        <div class="tool_name">
          <p>コメントの色</p>
        </div>
        <input type="color" name="color">
      </div>
    </div>
    <%# テキストエリア %>
    <div class="ui form">
      <div class="field">
        <div class="tool_name">
          <p>コメント</p>
        </div>
        <textarea name="textarea" id="context" width="50px"></textarea>
      </div>
    </div>
    <div class="tool_name">
      <button class="ui primary button save_link">保存する</button>
    </div>
  </div>
</div>
<%# @daily.imageを非表示labelにする %>
<div id="image_path"><%= @daily.image %></div>
</div>

<input id="daily_id" type="hidden" value=<%= @daily.id %>>
<%= image_tag @daily.image, id: "daily_image" %>

<%= form_with url: dailies_path do |f| %>
      <%= f.text_field :context, id: "hide" %>
      <%= f.file_field :image, id: "hide" %>
      <%= f.submit "登録",id: "hide" %>
<% end %>

<style>
  #hide{
    display: none;
  }
  #image_path{
    display: none;
  }
  #stamp_viewr {
    border: 1px solid black;
  }
  #daily_image {
    /* 非表示 */
    display: none;
  }
</style>