<div class="ui inverted large borderless fluid menu column" id="header_id">
    <% if current_user.nil? and current_student.nil? %>
      <a class="header item" href="/">FoodManager</a>
    <% end %>

    <% if !current_user.nil? %>
      <a class="header item" href="/user/home">FoodManager</a>
    <% end %>

    <% if !current_student.nil? %>
      <%= link_to "FoodManager", "/dailies/#{current_student.id}/index", class: "hearder item", data: {"turbolinks" => false} %>
    <% end %>

    <div class="right menu">
        <div class="ui item">
          <% if current_user.nil? and current_student.nil? %>
            <% if current_user.nil?%>
              <%= link_to "トレーナーログイン", new_user_session_path, style: "margin-right: 20px"%>
            <% end %>
            <% if current_student.nil? %>
              <%= link_to "生徒ログイン", student_loginform_path%>
            <% end %>
          <% end %>

          <% if !current_user.nil? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
          <% end %>
          <% if !current_student.nil? %>
            <%= link_to "ログアウト", student_logout_path, method: :delete%>
          <% end %>
        </div>
    </div>
</div>
